.phone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone__image {
  height: 120px;
  margin-bottom: 8px;
}

.phone__text {
  @include text;
}

.phone__change {
  position: absolute;
  top: 75px;
  right: calc(50% - 81px);
  width: 22px;
  height: 11px;
  font-size: 0px;
  background-image: url('../../img/arrow-down.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.phone__search {
  position: absolute;
  top: 75px;
  left: calc(50% + 47px);
  z-index: 1;

  &--last {
    left: initial;
    right: calc(50% - 83px);
  }
}

