@mixin nav-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #0D5ADC;
}

@mixin page-title-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
}